<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
    <title>RDBWDPS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
</head>
<body>
    <div>
        <h1>RegulonDB WDPS</h1>
        <div>
            <p class="description" >Welcome to RegulonDB Web Data Processing Service</p>
            <p class="description2" >Select Organism</p>
        </div>
        <div class="enlaces" >
            <p class="description3">
                <a  href="/wdps/RDBECOLI/">Escharichia Coli K12</a>
            </p>
        </div>
    </div>
</body>
</html>