<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
    <title>RDBWDPS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
</head>

<body>
    <div>
        <h1>RegulonDB WDPS</h1>
        <h2 class="description">Escherichia Coli K12</h2>
        <div>
            <p class="description2">Gene Documents</p>
        </div>
        
        <div class="enlaces">
            
            {% for gene in data %}
            <p class="description3">
                <a href="./gene/{{ gene['_id'] }}/txt">{{ gene["gene"]["name"] }}</a>
            </p>
            {% endfor %}
        </div>
    </div>
</body>

</html>