<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RDBWDPS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
</head>
<body>
    <div>
        <h1>RegulonDB WDPS</h1>
        <div>
            <p class="description animationFrame1" >Welcome to RegulonDB Web Data Processing Service</p>
            <p class="description animationFrame2" >Select Organism</p>
        </div>
        <div class="enlaces description animationFrame3" >
            <p>
                <a  href="/wdps/ecoli">Escharichia Coli K12</a>
            </p>
        </div>
    </div>
</body>
</html>