body {
    min-height: 100vh;
    background-color: #000000;
  }
  
  h1{
      color: #FFFFFF;
  }

  .enlaces{
    margin-left: 5%;
  }

  .animationFrame1{
    width: 0;
    animation: typing 1s steps(38) 1s 1 normal both;
  }

  .animationFrame2{
    width: 0;
    animation: typing 2s steps(38) 1s 1 normal both;
    animation-delay: 1s;
  }

  .animationFrame3{
    width: 0;
    animation: typing 2s steps(38) 1s 1 normal both;
    animation-delay: 2s;
  }
  
  .description {
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    font-family: monospace;
    
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 465px;
    }
  }