<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
    <title>RDBWDPS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
</head>
<body>
    <div>
        <h1>RegulonDB WDPS</h1>
        <h2 class="description animationFrame1" >Escherichia Coli K12 Documents</h2>
        <div>
            <p class="description animationFrame2" >select colection</p>
        </div>
        <div class="enlaces description animationFrame3" >
            <p >
                <a  href="/wdps">../</a>
            </p>
            <p >
                <a  href="/wdps/ecoli/gene">./Gene</a>
            </p>
            <p >
                <a  href="/wdps/ecoli/ht">./High_Throughput_Collection</a>
            </p>
        </div>
    </div>
</body>
</html>