<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
</head>
<body>
    <div id="draw_dtt"></div>
</body>
<script src="http://localhost:5000/static/js/gegl/index.js" type="module"></script>
<script type="module" >
    import {Track} from "http://localhost:5000/static/js/gegl/index.js"
    console.log("hola")
    const data = [
    {
      "_id": "RDBECOLIGNC00986",
      "strand": "forward",
      "objectType": "gene",
      "objectRGBColor": "29, 146, 219",
      "leftEndPosition": "337",
      "rightEndPosition": "2799+"
    },
    {
      "_id": "RDBECOLIGNC01250",
      "strand": "forward",
      "objectType": "gene",
      "objectRGBColor": "11, 221, 215",
      "leftEndPosition": "+190",
      "rightEndPosition": "255"
    },
    {
      "_id": "RDBECOLITMC00051",
      "strand": "forward",
      "objectType": "terminator",
      "objectRGBColor": "0,0,0",
      "leftEndPosition": "274",
      "rightEndPosition": "310"
    },
    {
      "_id": "RDBECOLIRIC01518",
      "strand": "forward",
      "objectType": "ppGpp",
      "objectRGBColor": "163, 167, 167",
      "leftEndPosition": null,
      "rightEndPosition": null
    }
  ]

  const drawGenes = new Track({
    id: "draw_dtt",
    canva_id: "dtt023",
    width: 800,
    height: 300,
  });

  drawGenes.draw(
    data
  );
</script>
</html>