<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <div>
        <p align="center" >
            Data and graphics is available under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License (CC BY-NC-SA 4.0);
additional terms may apply. By using this site, you agree to our terms of use and privacy policy. 
RegulonDB®️ is a registered trademark of CCG-UNAM.
RegulonDB Release 11.0
        </p>
    </div>
</body>
</html>